<div class="offset"></div>
  <div class="light-wrapper page-title">
    <div class="container inner">
      <h1>Portfolio with 4 Columns</h1>
    </div>
  </div>
  
    <div class="dark-wrapper">
      <div class="container inner">
        <div class="portfolio">
          <ul class="filter">
            <li><a class="active" href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".graphic">Breakfast</a></li>
            <li><a href="#" data-filter=".mockup">Lunch</a></li>
            <li><a href="#" data-filter=".video">Dinner</a></li>
            <li><a href="#" data-filter=".music">Dessert</a></li>
          </ul>
          <!-- /.filter -->
          <section id="flexSection">
          <div ng-app="app">
            <%= form_tag("/quiz", method: "post") do %>
              <ul class="items col4">
                <% @explore_recipes.each do |recipe| %>
                  <li class="item graphic">
                      <label class="image-checkbox" title="<%= recipe['title'] %>">
                        <img src="https://spoonacular.com/recipeImages/<%= recipe['id'] %>-240x150.jpg">
                        <input type="checkbox" name="liked_recipes[]" value="<%= recipe['id'] %>" style="display: inline-block;"/>
                        <figure class="icon-overlay medium icn-more"></figure>
                        <div class="image-caption">
                          <h3><%= recipe['title'] %></h3>
                          <span class="meta">source: <%= recipe['sourceName'] %></span> 
                        </div>
                      </label>
                  </li>
                <% end %>
              </ul>
          </div>  
          </section>
        </div>
        <!-- /.portfolio --> 
      </div>
      <!-- /.container --> 
    </div>
    <!-- /.dark-wrapper -->
    <div class="color-wrapper">
      <div class="container inner text-center">
        <div class="thin">
          <p class="lead">If you like what you see, let's work together.</p>
          <p class="btn bm0"><%= submit_tag("Get Cooking.") %></p> </div>
          <% end %>
      </div>
    </div>
    


  <script type="text/javascript">
    jQuery(function ($) {
        // init the state from the input
        $(".image-checkbox").each(function () {
            if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
                $(this).addClass('image-checkbox-checked');
            }
            else {
                $(this).removeClass('image-checkbox-checked');
            }
        });

        // sync the state to the input
        $(".image-checkbox").on("click", function (e) {
            if ($(this).hasClass('image-checkbox-checked')) {
                $(this).removeClass('image-checkbox-checked');
                $(this).find('input[type="checkbox"]').first().removeAttr("checked");
            }
            else {
                $(this).addClass('image-checkbox-checked');
                $(this).find('input[type="checkbox"]').first().attr("checked", "checked");
            }

            e.preventDefault();
        });
    });
</script>

<style>
    .image-checkbox
    {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        border: 4px solid transparent;
        outline: 0;
    }

        .image-checkbox input[type="checkbox"]
        {
            display: none;
        }

    .image-checkbox-checked
    {
        border-color: #3F8DBF;
    }
</style>