<<<<<<< HEAD
<div class="offset"></div>
  <div class="light-wrapper page-title">
    <div class="container inner">
      <h1>Login Page</h1>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-6">
          <h3>Registered Customers</h3>
          <div class="divide15"></div>
          <div class="form-container">
            <form class="forms" action="#" method="post">
              <fieldset>
                <ol>
                  <li class="form-row text-input-row email-field">
                    <%= f.label :email %><br />
                    <%= f.email_field :email, autofocus: true %>
                  </li>
                  <li class="form-row text-input-row password-field">
                    <%= f.label :password %><br />
                    <%= f.password_field :password, autocomplete: "off" %>
                  </li>
                  <li class="button-row">
                    <input type="submit" value="Login" name="submit" class="btn btn-submit bm0 pull-left" />
                    <p class="forgot">Forgot your <a href="#">username</a> or <a href="/users/password/new">password</a>?</p>
                  </li>
                </ol>
              </fieldset>
            </form>
          </div>
          <!-- /.form-container --> 
          
        </div>

        <!-- Sign Up Modal -->
        
        <!-- /.Sign Up Modal -->

        <div class="col-sm-6">
          <h3>New User? Register Now!</h3>
          <a href="/users/sign_up" class="btn">Sign Up</a>
          <div class="divide20"></div>
          <h3>Or connect with your social profile</h3>
          <div class="connect"> <a href="#" class="btn btn-large share-facebook"><i class="icon-s-facebook"></i> Connect with Facebook</a> <a href="#" class="btn btn-large share-twitter"><i class="icon-s-twitter"></i> Connect with Twitter</a> </div>
          <!-- /.connect --> 
          
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </div>
<% end %>
  <!-- /.dark-wrapper -->
=======
<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
>>>>>>> 1dce82bdf31afcdec195be5fd5974dc529ede244
