  

  <div class="fullwidthbanner-container revolution">
    <div class="fullwidthbanner">
      <ul>
        <li data-transition="fade"> <img src="style/images/art/slider-bg1.jpg" alt="" />
          <div class="caption sfb bold text-center" data-x="center" data-y="198" data-speed="900" data-start="800" data-easing="Sine.easeOut">This is RecipeMe.</div>
          <div class="caption sfb lite small text-center" data-x="center" data-y="258" data-speed="900" data-start="1500" data-easing="Sine.easeOut">A simple webapp to help you cut down on some of cookings trivialities. Details Below.</div>
          <div class="caption sfb" data-x="center" data-y="353" data-speed="900" data-start="2200" data-easing="Sine.easeOut"><a href="/quiz" class="btn btn-large">Take the Quiz</a></div>
        </li>
        <li data-transition="fade"> <img src="style/images/art/slider-bg2.jpg" alt="" />
          
          <div class="caption sft opacity-bg" data-x="35" data-y="200" data-speed="500" data-start="800" data-easing="Sine.easeOut">Dynamic Ingredient lists with both Imperial and Metric systems</div>
          <div class="caption sfr opacity-bg" data-x="35" data-y="265" data-speed="500" data-start="1300" data-easing="Sine.easeOut">Adjustable to your any amount of people you want</div>
        
          <div class="caption sfb" data-x="35" data-y="330" data-speed="500" data-start="1800" data-easing="Sine.easeOut"><a href="/quiz" class="btn btn-large">Get started!</a></div>
          
        </li>
        <li data-transition="fade"> <img src="style/images/art/slider-bg3.jpg" alt="" />
          <div class="caption sfr lite dark" data-x="750" data-y="185" data-speed="400" data-start="2500" data-easing="Sine.easeOut">Over 360,000 recipes</div>
          <div class="caption sfr lite dark" data-x="750" data-y="237" data-speed="400" data-start="2900" data-easing="Sine.easeOut">with more added every day</div>

          <div class="caption sfb" data-x="750" data-y="395" data-speed="800" data-start="4200" data-easing="Sine.easeOut"><a href="/quiz" class="btn btn-border-dark btn-large">Take the Quiz</a></div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.fullwidthbanner --> 
  </div>
  <!-- /.fullwidthbanner-container -->
  
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
      <div class="col-services">
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-printer icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Intuitive Quiz</h5>
              <p>With an organic approach to figuring out what you like to eat, our quiz will help the app cater to your individual interests. By using a weighted algorithm, the app will store a more accurate representation with every addition.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-tv icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Adjustable serving amount </h5>
              <p>Don't worry about converting the measurements of your six person meal down to a two person meal, our built in conversion calculator scales the amount of ingredients to the serving size of your choosing. Supports both Imperial and Metric systems.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-gift icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Over 360,000 recipes</h5>
              <p>All with various cooking tips, nutritional analysis, and health information relating to the recipe. More added every day.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row -->
        <div class="divide30"></div>
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-casette icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Budget Data</h5>
              <p>Track everything from the cost per/serving to the price of all of the weeks grocery products. Every recipe includes a comprehensive price breakdown. </p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-clock icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Explore Recipes</h5>
              <p>Learn how to eat healthier, cheaper, and with less effort. Simply click on the images of cuisines you would be most interested in eating and let us do the rest.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-brush-2 icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Coming soon</h5>
              <p>Coming very soon, you will be able to set dietary restrictions and other various restraints for the recipes returned to you.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.services --> 
    </div>
  </div>
  <div class="black-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>Featured Recipes</h2>
        <span class="icon"><i class="icon-picture"></i></span> </div>
      <div class="owl-portfolio owlcarousel carousel-th">
        <% @feat_recipes.each do |recipe| %>  
          <div class="item">
            <figure class="icon-overlay medium icn-link"> <a href=""><img src="https://spoonacular.com/recipeImages/<%= recipe['id'] %>-480x360.jpg" alt="" /></a></figure>
            <div class="image-caption">
              <h3><a href=""><%= recipe['title'] %></a></h3>
              <span class="meta"><%= recipe['sourceName'] %></span> </div>
          </div>
          <!-- /.item -->
         <% end %>
      </div>
      <!-- /.owlcarousel -->
      <div class="divide50"></div>
      <div class="text-center"> <a class="btn btn-border-light" href="portfolio2.html">See All Work</a> </div>
    </div>
  </div>
  <div class="light-wrapper">
    <div class="container inner">
      <div class="tabs services tab-container">
        <div class="panel-container">
          <div class="tab-block" id="tab-1">
            <h2 class="slab">let our <span class="colored">Nutrition Visualizer</span> work for you</h2>
            <p class="lead">by allowing you to judge how healthy the recipe is at a glance. No unattractive and confusing nutrition labels, just quick, beautiful insight into the recipe's nutritional information.</p>
          </div>
          <!-- /.tab-block -->
          <div class="tab-block" id="tab-2">
            <h2 class="slab">We bring <span class="colored">rapid solutions</span></h2>
            <p class="lead">Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
          </div>
          <!-- /.tab-block -->
          <div class="tab-block" id="tab-3">
            <h2 class="slab"><span class="colored">Ingredient Visualizer</span></h2>
            <p class="lead">turns your normal ingredient list into a visually-appetizing grid or list made with beautiful, high-quality images. This multi-purpose tool is more than just nice to look at - it also adjusts the ingredient amounts automatically to reflect the desired numbers of servings and lets the reader convert from metric to US measurements.</p>
          </div>
          <!-- /.tab-block -->
          <div class="tab-block" id="tab-4">
            <h2 class="slab">Our <span class="colored">Price Estimator</span></h2>
            <p class="lead">calculates a recipe's cost per serving, making it easy to search for affordable recipes. The SPE also provides a visual price breakdown that shows the cost of each individual ingredient. With this feature, you can quickly see which ingredients make a recipe expensive so you can swap out the priciest ingredients or make sure to buy them when they are on sale. Eat well for less!</p>
          </div>
          <!-- /.tab-block --> 
        </div>
        <!-- /.panel-container -->
        <ul class="etabs row">
          <li class="tab col-sm-3"><a href="#tab-1">
            <div class="pin"></div>
            <div class="root"></div>
            <div class="icon"><i class="icon-picons-bulb icn"></i></div>
            <h4>Nutrition Visualizer</h4>
            </a></li>
          <li class="tab col-sm-3"><a href="#tab-2">
            <div class="pin"></div>
            <div class="root"></div>
            <div class="icon"><i class="icon-picons-rocket icn"></i></div>
            <h4>Rapid Solutions</h4>
            </a></li>
          <li class="tab col-sm-3"><a href="#tab-3">
            <div class="pin"></div>
            <div class="root"></div>
            <div class="icon"><i class="icon-picons-lab icn"></i></div>
            <h4>Ingredient Visualizer</h4>
            </a></li>
          <li class="tab col-sm-3"><a href="#tab-4">
            <div class="pin"></div>
            <div class="root"></div>
            <div class="icon"><i class="icon-picons-award icn"></i></div>
            <h4>Price Estimator</h4>
            </a></li>
        </ul>
        <!-- /.etabs --> 
      </div>
      <!-- /.tabs --> 
      
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.light-wrapper -->
  
  <div class="well" id="parallax-second"></div>
  <div class="light-wrapper">
    <div class="container inner">
      <div class="section-title text-center bm20">
        <h2>Random Recipes</h2>
        <span class="icon"><i class="icon-pencil"></i></span> </div>
      <div class="thin text-center">
      </div>
      <div class="divide30"></div>
      <div class="latest-blog-wrapper">
        <div class="latest-blog">
          <% @rand_recipes.each do |recipe|%>
            <div class="post">
              <figure class="icon-overlay medium icn-link"><a href="<%= recipe['spoonacularSourceUrl'] %>"><img src="https://spoonacular.com/recipeImages/<%= recipe['id'] %>-480x360.jpg"></a></figure>
              <div class="post-content">
                <h3 class="post-title"><a href="<%= recipe['spoonacularSourceUrl'] %>"><%= recipe['title'] %></a></h3>
                <div class="meta"><span class="date">13 Nov, 2012</span></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="well" id="parallax-second"></div>
  
