<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div class="offset"></div>
  <div class="light-wrapper page-title">
    <div class="container inner">
      <h1>Login Page</h1>
    </div>
  </div>
  <div class="dark-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-6">
          <h3>Registered Customers</h3>
          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
          <div class="divide15"></div>
          <div class="form-container">
            <form class="forms" action="#" method="post">
              <fieldset>
                <ol>
                  <li class="form-row text-input-row email-field">
                    <input type="text" name="email" class="text-input defaultText required email" title="Username or Email (Required)"/>
                  </li>
                  <li class="form-row text-input-row password-field">
                    <input type="text" name="password" class="text-input defaultText required password" title="Password (Required)"/>
                  </li>
                  <li class="button-row">
                    <input type="submit" value="Login" name="submit" class="btn btn-submit bm0 pull-left" />
                    <p class="forgot">Forgot your <a href="#">username</a> or <a href="#">password</a>?</p>
                  </li>
                </ol>
              </fieldset>
            </form>
          </div>
          <!-- /.form-container --> 
          
        </div>
        <div class="col-sm-6">
          <h3>New User? Register Now!</h3>
          <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </p>
          <a href="#" class="btn">Sign Up</a>
          <div class="divide20"></div>
          <h3>Or connect with your social profile</h3>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
          <div class="connect"> <a href="#" class="btn btn-large share-facebook"><i class="icon-s-facebook"></i> Connect with Facebook</a> <a href="#" class="btn btn-large share-twitter"><i class="icon-s-twitter"></i> Connect with Twitter</a> </div>
          <!-- /.connect --> 
          
        </div>
      </div>
    </div>
    <!-- /.container --> 
  </div>
  <!-- /.dark-wrapper -->
  