<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="/style/images/favicon.png">
<title>RecipeMe</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!-- Bootstrap core CSS -->
<link href="/style/css/bootstrap.css" rel="stylesheet">
<link href="/style/css/settings.css" rel="stylesheet">
<link href="/style/css/owl.carousel.css" rel="stylesheet">
<link href="/style/js/google-code-prettify/prettify.css" rel="stylesheet">
<link href="/style/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css" media="all" />
<link href="/style/js/fancybox/helpers/jquery.fancybox-thumbs.css?v=1.0.2" rel="stylesheet" type="text/css" />
<link href="/style.css" rel="stylesheet">
<link href="/style/css/color/blue.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800,900' rel='stylesheet' type='text/css'>
<link href="/style/type/fontello.css" rel="stylesheet">
<link href="/style/type/picons.css" rel="stylesheet">
<link href="/style/type/budicons.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="style/js/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
<body class="full-layout">
<div class="body-wrapper">
  <div class="yamm navbar basic default">
    <div class="navbar-header">
      <div class="container">
        <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i class='icon-menu-1'></i></a> <a class="navbar-brand" href="/home"><img src="/style/images/logo.png" data-at2x="/style/images/logo@2x.png" alt="" /></a> </div>
        <div class="collapse navbar-collapse pull-right">
          <ul class="nav navbar-nav">
    
            <% if current_user %>
              <li class="dropdown"><a href="#" class="dropdown-toggle js-activated"><%= current_user.email %></a>
                <ul class="dropdown-menu">
                  <li><%= button_to('Logout', destroy_user_session_path, :method => :delete) %></li>
                </ul>
              </li>
              <li><a href="/menus/weekly-menu">Your Weekly Menu</a></li>
              <li><a href="/explore">Explore More Recipes</a></li>
            <% else %>    
              <li><%= link_to('Login/Signup', new_user_session_path) %></li>
              <li><a href="/quiz">Take the Quiz.</a></li>
            <% end %>
            <li class="dropdown yamm-fullwidth"><a href="#" class="dropdown-toggle js-activated">About</a>
              <ul class="dropdown-menu yamm-dropdown-menu">
                <li>
                  <div class="yamm-content row">
                    <div class="col-sm-4">
                      <h4>About RecipeMe</h4>
                      <p>RecipeMe is a free web app that allows users ease of utility when it comes to finding the right meals.</p>
                      <p>Powered by Spoonacular.</p>
                      <div class="divide5"></div>
                      <a href="#" class="btn">Read More</a> </div>
                    <div class="col-sm-4">
                      <h4>Get In Touch</h4>
                      <p>If you have any comments, conflicts, or concerns please feel free to contact me. </p>
                      <div class="divide10"></div>
                      <div class="contact-info"> <i class="icon-location"></i> NY, Ny <br />
                        <i class="icon-phone"></i>+00 (704) 564 9198 <br />
                        <i class="icon-mail"></i> <a href="michaelferretti.new@gmail.com">michaelferretti.new@gmail.com</a> </div>
                    </div>
                    <div class="col-sm-4">
                      <h4>Our Friends</h4>
                      <ul class="circled">
                      <li><a href="https://www.greatharvest.com">Great Harvest Bread co.</a></li>
                        <li><a href="https://www.choosemyplate.gov">ChooseMyPlate.gov</a></li>
                      
                        <li><a href="http://www.feedingamerica.org/">Hunger Relief Organization</a></li>
                        <li><a href="http://www.actionagainsthunger.org/">Action Against Hunger</a></li>
                        <li><a href="https://desertbus.org/">Desert Bus for Hope</a></li>
                        <li><a href="http://childsplaycharity.org">Child's Play</a></li>
                      </ul>
                    </div>
                  </div>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/.nav-collapse --> 
  </div>
  <!--/.navbar -->
  
  <!-- flash message -->
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>

  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
  <!-- end flash message -->
  
  <%= yield %>

  <footer class="black-wrapper">
    <div class="container inner">
      <div class="row">
        <div class="col-sm-6">
          <div class="widget"> <img src="/style/images/logo.png" data-at2x="/style/images/logo@2x.png" alt="" />
            <div class="divide20"></div>
            <p>Aenean lacinia bibendum nulla sed leo posuere erat a ante venenatis dapibus posuere velit aliquet. Donec ullamcorper metus auctor fringi. Nullam quis risus. </p>
            <p>Vestibulum id ligula porta  euismod semper. Maecenas faucibus mollis.</p>
            <div class="divide5"></div>
            <ul class="social">
              <li><a href="#"><i class="icon-s-rss"></i></a></li>
              <li><a href="#"><i class="icon-s-twitter"></i></a></li>
              <li><a href="#"><i class="icon-s-facebook"></i></a></li>
              <li><a href="#"><i class="icon-s-pinterest"></i></a></li>
              <li><a href="#"><i class="icon-s-linkedin"></i></a></li>
            </ul>
          </div>
          <!-- /.widget --> 
        </div>
        <!-- /col -->
        
        
        
        <div class="col-sm-6">
          <div class="widget">
            <h3 class="section-title widget-title upper">Get In Touch</h3>
            <p>If you have any comments, conflicts, or concerns please feel free to contact me. </p>
            <div class="divide10"></div>
            <div class="contact-info"> <i class="icon-location"></i> New York, NY <br />
              <i class="icon-phone"></i>+00 (704) 564 9198 <br />
              <i class="icon-mail"></i> <a href="michaelferretti.new@gmail.com">michaelferretti.new@gmail.com</a> </div>
          </div>
        </div>
        <!-- /col -->
        
        
      </div>
      <!-- /.row --> 
    </div>
    <!-- .container -->
    
    <div class="sub-footer">
      <div class="container">
        <p class="pull-left">© 2014 Slowave. All rights reserved. Theme by <a href="http://elemisfreebies.com">elemis</a>.</p>
        <ul class="footer-menu pull-right">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Weekly Menu</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!-- /footer --> 
  
</div>
<!-- /.body-wrapper --> 
<!-- Bootstrap core JavaScript
================================================== --> 
<!-- Placed at the end of the document so the pages load faster --> 
<script src="/style/js/jquery.min.js"></script> 
<script src="/style/js/bootstrap.min.js"></script> 
<script src="/style/js/twitter-bootstrap-hover-dropdown.min.js"></script> 
<script src="/style/js/jquery.themepunch.plugins.min.js"></script> 
<script src="/style/js/jquery.themepunch.revolution.min.js"></script> 
<script src="/style/js/jquery.fancybox.pack.js"></script> 
<script src="/style/js/fancybox/helpers/jquery.fancybox-thumbs.js?v=1.0.2"></script> 
<script src="/style/js/fancybox/helpers/jquery.fancybox-media.js?v=1.0.0"></script> 
<script src="/style/js/jquery.isotope.min.js"></script> 
<script src="/style/js/jquery.easytabs.min.js"></script> 
<script src="/style/js/owl.carousel.min.js"></script> 
<script src="/style/js/jquery.fitvids.js"></script>
<script src="/style/js/google-code-prettify/prettify.js"></script> 
<script src="/style/js/jquery.slickforms.js"></script> 
<script src="/style/js/retina.js"></script> 
<script src="/style/js/scripts.js"></script>
</body>
</html>
